/* CSS Stylesheet */
body { 
	background-color: #F2F2E8; 
	font-family: "Bitstream Vera Sans", Arial, Tahoma, sans-serif; 
	font-size: 11pt; 
	text-align: left;
}

a { color: blue; text-decoration: none; }
a:visited { color: blue; }
a:hover { text-decoration: underline }

a.linkup {
	font-size: 8pt;
}

h1 {
	font-size: 14pt;
}

h2 {
	font-size : 12pt;
}

h3 {
	font-size : 10pt;
}

h4 {
	font-size : 8pt;
}

hr {
	border: 1pt dashed black;
}

.underline {
	text-decoration: underline;
}

em {
	text-decoration: italic;
	background-color: yellow;
}

div.body {
	background-color: white;
	margin: 10pt 2% 10pt 2%;
	border: 2pt solid black;
	padding: 5pt;
}

