<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <TMPL_INCLUDE NAME="include_head.tmpl">
  <title>FileX</title>
</head>

<body>
<div class="body">
	<div class="logo">
		<h1><span>FileX</span></h1>
	</div>
	<div class="main">
		<p class="error"><TMPL_VAR NAME="ERROR"></p>
		<TMPL_IF NAME="REASON">
		<h2>Raison :</h2>
		<p><TMPL_VAR NAME="REASON"></p>
		</TMPL_IF>
	</div>
	<hr>
	<div class="footer">
		<p>En cas de probl&egrave;mes ou pour toutes informations, veuillez adresser vos messages à l'adresse suivante : <a href="mailto:<TMPL_VAR NAME='SYSTEMEMAIL'>"><TMPL_VAR NAME="SYSTEMEMAIL"></a></p>
	</div>
</div>
<div class="img">
	<img src="media/logo.png" width="90" height="50" alt="Insa de Lyon">
</div>
</body>
</html>
