<!-- chunky template for current download -->
<h1>T&eacute;l&eacute;chargement en cours :</h1>
<TMPL_IF NAME="FILEX_HAS_DOWNLOAD">
	<script language="javascript" type="text/javascript">
	<!--
	function openInfoWindow(url) {
	var infowin;
	infowin = this.open(url,"file infos","toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizeable=yes,width=500,height=300");
	infowin.focus();
	}
	//-->
	</script>
	<table class="infos" cellpadding="0" cellspacing="0" width="100%" summary="Liste des fichiers en t&eacute;l&eacute;chargement">
		<caption>Liste des fichiers en t&eacute;l&eacute;chargement</caption>
		<thead>
			<tr><td>Nom</td><td>Propri&eacute;taire</td><td>Taille</td><td>D&eacute;marr&eacute; le</td><td>Adresse</td></tr>
		</thead>
		<tbody>
			<TMPL_LOOP NAME="FILEX_DOWNLOAD_LOOP">
			<tr<TMPL_UNLESS NAME="__odd__"> class="even"</TMPL_UNLESS>><td><a href="javascript:;" onClick="javascript:openInfoWindow('<TMPL_VAR NAME='FILEX_FILE_INFO_URL'>')" title="Information"><TMPL_VAR NAME="FILEX_FILE_NAME"></a></td><td><TMPL_VAR NAME="FILEX_OWNER"></td><td><TMPL_VAR NAME="FILEX_SIZE"></td><td><TMPL_VAR NAME="FILEX_START"></td><td><TMPL_VAR NAME="FILEX_IP_ADDRESS"></td></tr>
			</TMPL_LOOP>
		</tbody>
	</table>
<TMPL_ELSE>
<p>Pas de t&eacute;l&eacute;chargements actuellement</p>
</TMPL_IF>
