<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<base href="<TMPL_VAR NAME='FILEX_STATIC_FILE_BASE'>">
  <title>FileX</title>
	<link href="styles/filex.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="body">
	<div class="logo">
		<h1><span>FileX</span> [ <TMPL_VAR NAME="FILEX_USER_NAME"> ]</h1>
	</div>
	<TMPL_IF NAME="FILEX_HAS_ERROR">
	<p class="error"><TMPL_VAR NAME="FILEX_ERROR"></p>
	<TMPL_ELSE>
	<div class="admenu">
	<p class="gobackfilex"><a href="<TMPL_VAR NAME='FILEX_UPLOAD_URL'>" title="Retour &agrave; FileX">Retour &agrave; FileX</a></p>
		<form method="post" action="<TMPL_VAR NAME='FILEX_FORM_MENU_ACTION'>" name="forSelAction">
			<p><label for="idmnact">Actions : </label> 
				<select class="Field" name="<TMPL_VAR NAME='FILEX_FORM_SELECT_FIELD_NAME'>" id="idmnact" onchange="javascript:document.forms['forSelAction'].submit();">
				<TMPL_LOOP NAME="FILEX_ACTION_MENU_LOOP">
				<option <TMPL_IF NAME="FILEX_FORM_MENU_OPT_SELECTED">selected</TMPL_IF> value="<TMPL_VAR NAME='FILEX_FORM_MENU_OPT_VALUE'>"><TMPL_VAR NAME='FILEX_FORM_MENU_OPT_LABEL'></option>
				</TMPL_LOOP>
			</select><input type="submit" class="Submit" value="Envoyer"></p>
		</form>
	</div>
	<hr>
	<div class="main">
	<TMPL_VAR NAME="FILEX_MAIN_CONTENT">
	<p class="gobackfilex"><a href="<TMPL_VAR NAME='FILEX_UPLOAD_URL'>" title="Retour &agrave; FileX">Retour &agrave; FileX</a></p>
	</div>
	<hr>
	</TMPL_IF>
	<div class="footer">
		<p>En cas de probl&egrave;mes ou pour toutes informations, veuillez adresser vos messages à l'adresse suivante : <a href="mailto:<TMPL_VAR NAME='FILEX_SYSTEM_EMAIL'>"><TMPL_VAR NAME="FILEX_SYSTEM_EMAIL"></a></p>
	</div>
</div>
<div class="img">
	<img src="media/logo.png" width="90" height="50" alt="Insa de Lyon">
</div>
</body>
</html>
