<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<base href="<TMPL_VAR NAME='FILEX_STATIC_FILE_BASE'>">
	<title>FileX : <TMPL_VAR NAME="FILEX_FILE_NAME"></title>
	<link href="styles/filex.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="body">
	<div class="logo">
		<h1><span>FileX</span> [ <TMPL_VAR NAME="FILEX_USER_NAME"> ]</h1>
	</div>
	<div class="main">
		<TMPL_IF NAME="FILEX_HAS_ERROR">
		<p class="error"><TMPL_VAR NAME="FILEX_ERROR"></p>
		<TMPL_ELSE>
		<TMPL_IF NAME="FILEX_CAN_EXPIRE">
		<form action="<TMPL_VAR NAME='FILEX_FORM_ACTION_URL'>" method="POST">
		<input type="hidden" name="<TMPL_VAR NAME='SUB_ACTION_FIELD_NAME'>" value="<TMPL_VAR NAME='SUB_ACTION_VALUE'>">
		<input type="hidden" name="<TMPL_VAR NAME='FILE_ID_FIELD_NAME'>" value="<TMPL_VAR NAME='FILE_ID_VALUE'>">
		</TMPL_IF>
		<h1 class="fileinfo"><TMPL_VAR NAME="FILEX_FILE_NAME"></h1>
		<ul>
			<li><strong>D&eacute;pos&eacute; le : </strong><TMPL_VAR NAME="FILEX_FILE_DATE">
			<li><strong>Expire le : </strong><TMPL_VAR NAME="FILEX_FILE_EXPIRE">
			<li><strong>Taille : </strong><TMPL_VAR NAME="FILEX_FILE_SIZE">
			<li><strong>Nombre de t&eacute;l&eacute;chargements : </strong><TMPL_VAR NAME="FILEX_FILE_COUNT">
<TMPL_IF NAME="FILEX_CAN_EXPIRE">
			<li><label for="idPwd"><strong>Mot de passe : </strong></label>
<label><input name="<TMPL_VAR NAME='FILEX_FORM_USE_PASSWORD_NAME'>" type="radio" value="<TMPL_VAR NAME='FILEX_FORM_USE_PASSWORD_VALUE_ACTIVATE'>" <TMPL_IF NAME="FILEX_FORM_USE_PASSWORD_ACTIVATE_CHECKED">checked</TMPL_IF>>Oui </label>
<label><input name="<TMPL_VAR NAME='FILEX_FORM_USE_PASSWORD_NAME'>" type="radio" value="<TMPL_VAR NAME='FILEX_FORM_USE_PASSWORD_VALUE_DESACTIVATE'>" <TMPL_IF NAME="FILEX_FORM_USE_PASSWORD_DESACTIVATE_CHECKED">checked</TMPL_IF>>Non </label>
<input id="idPwd" type="password" size="15" class="Field" name="<TMPL_VAR NAME='FILEX_FORM_PASSWORD_NAME'>" maxlength="<TMPL_VAR NAME='FILEX_MAX_PASSWORD_LENGTH'>"><br>
<span class="notes">Le mot de passe doit avoir une longueur comprise entre <strong><TMPL_VAR NAME="FILEX_MIN_PASSWORD_LENGTH"></strong> et <strong><TMPL_VAR NAME="FILEX_MAX_PASSWORD_LENGTH"></strong> caract&egrave;res</span>
</TMPL_IF>
			<li><strong>Expir&eacute; : </strong>
<TMPL_IF NAME="FILEX_CAN_EXPIRE">
<br><label><input name="<TMPL_VAR NAME='FILEX_FORM_EXPIRE_NAME'>" type="radio" value="<TMPL_VAR NAME='FILEX_FORM_EXPIRE_VALUE_YES'>">Oui </label>
<label><input name="<TMPL_VAR NAME='FILEX_FORM_EXPIRE_NAME'>" type="radio" value="<TMPL_VAR NAME='FILEX_FORM_EXPIRE_VALUE_NO'>"checked>Non</label>
<TMPL_ELSE><TMPL_VAR NAME="FILEX_EXPIRED"></TMPL_IF>
			<li><strong>Nombre de renouvellement : </strong><TMPL_VAR NAME="FILEX_RENEW_COUNT"> / <TMPL_VAR NAME="FILEX_MAX_RENEW_COUNT">
<TMPL_IF NAME="FILEX_CAN_EXPIRE">
	<TMPL_IF NAME="FILEX_CAN_RENEW_FILE_LIFE">
			<li><label><strong>Augmenter la dur&eacute;e de vie du fichier de : </strong>
			<select name="<TMPL_VAR NAME='FILEX_FORM_RENEW_NAME'>">
			<TMPL_LOOP NAME="FILEX_RENEW_LOOP">
				<option value="<TMPL_VAR NAME='FILEX_FORM_RENEW_VALUE'>"><TMPL_VAR NAME="FILEX_FORM_RENEW_VALUE"></option>
			</TMPL_LOOP>
			</select> Jours</label>
	</TMPL_IF>
</TMPL_IF>
			<li><strong>Recevoir un message &agrave; chaque t&eacute;l&eacute;chargement : </strong>
<TMPL_IF NAME="FILEX_CAN_EXPIRE">
<br><label><input name="<TMPL_VAR NAME='FILEX_FORM_DELIVERY_NAME'>" type="radio" value="<TMPL_VAR NAME='FILEX_FORM_DELIVERY_VALUE_YES'>" <TMPL_IF NAME="FILEX_FORM_DELIVERY_VALUE_YES_CHECKED">checked</TMPL_IF>>Oui </label>
<label><input name="<TMPL_VAR NAME='FILEX_FORM_DELIVERY_NAME'>" type="radio" value="<TMPL_VAR NAME='FILEX_FORM_DELIVERY_VALUE_NO'>" <TMPL_IF NAME="FILEX_FORM_DELIVERY_VALUE_NO_CHECKED">checked</TMPL_IF>>Non</label>
<TMPL_ELSE>
	<TMPL_VAR NAME="FILEX_DELIVERY">
</TMPL_IF>
			<li><strong>Recevoir un r&eacute;capitulatif lorsque le fichier sera supprim&eacute; : </strong>
<TMPL_IF NAME="FILEX_CAN_EXPIRE">
<br><label><input name="<TMPL_VAR NAME='FILEX_FORM_RESUME_NAME'>" type="radio" value="<TMPL_VAR NAME='FILEX_FORM_RESUME_VALUE_YES'>" <TMPL_IF NAME="FILEX_FORM_RESUME_VALUE_YES_CHECKED">checked</TMPL_IF>>Oui </label>
<label><input name="<TMPL_VAR NAME='FILEX_FORM_RESUME_NAME'>" type="radio" value="<TMPL_VAR NAME='FILEX_FORM_RESUME_VALUE_NO'>" <TMPL_IF NAME="FILEX_FORM_RESUME_VALUE_NO_CHECKED">checked</TMPL_IF>>Non</label>
<TMPL_ELSE>
<TMPL_VAR NAME="FILEX_RESUME">
</TMPL_IF>
<TMPL_IF NAME="FILEX_CAN_EXPIRE"><li><strong>Adresse de t&eacute;l&eacute;chargement : </strong><br><a href="<TMPL_VAR NAME='FILEX_GET_ADDRESS'>" target="_blank" title="t&eacute;l&eacute;charger"><TMPL_VAR NAME="FILEX_GET_ADDRESS"></a></TMPL_IF>
		</ul>
<TMPL_IF NAME="FILEX_ADMIN_MODE">
		<h1>Informations Administrateur</h1>
		<ul>
			<li><strong>Depuis la machine : </strong><TMPL_VAR NAME="FILEX_UPLOAD_ADDRESS">
			<li><strong>Utilise un proxy : </strong><TMPL_VAR NAME="FILEX_USE_PROXY">
			<TMPL_IF NAME="FILEX_IF_USE_PROXY"><li><strong>Information Proxy :</strong><p><TMPL_VAR NAME="FILEX_PROXY_INFOS"></p></TMPL_IF>
			<li><strong>Navigateur : </strong><p><TMPL_VAR NAME="FILEX_USER_AGENT"></p>
			<li><strong>Propri&eacute;taire : </strong><a href="mailto:<TMPL_VAR NAME='FILEX_FILE_OWNER'>"><TMPL_VAR NAME='FILEX_FILE_OWNER'></a> (<TMPL_VAR NAME="FILEX_FILE_OWNER_ID">)
			<li><strong>Nom sur le disque</strong> : <TMPL_VAR NAME="FILEX_DISK_NAME">
		<TMPL_IF NAME="FILEX_CAN_EXPIRE">
			<li><strong>Etat : </strong>
		<label><input name="<TMPL_VAR NAME='FILEX_FORM_STATE_NAME'>" type="radio" value="<TMPL_VAR NAME='FILEX_FORM_STATE_VALUE_ACTIVATE'>" <TMPL_IF NAME="FILEX_FORM_STATE_VALUE_ACTIVATE_CHECKED">checked</TMPL_IF>>Activ&eacute; </label>
		<label><input name="<TMPL_VAR NAME='FILEX_FORM_STATE_NAME'>" type="radio" value="<TMPL_VAR NAME='FILEX_FORM_STATE_VALUE_DESACTIVATE'>" <TMPL_IF NAME="FILEX_FORM_STATE_VALUE_DESACTIVATE_CHECKED">checked</TMPL_IF>>D&eacute;sactiv&eacute;</label>
			<li><a href="<TMPL_VAR NAME='FILEX_ADMIN_GET_ADDRESS'>" target="_blank" title="T&eacute;l&eacute;chargement sans log pour les administrateurs">T&eacute;l&eacute;chargement administrateur</a>
		</TMPL_IF>
		<li><label><input name="<TMPL_VAR NAME='FILEX_FORM_DISABLE_USER_FILES_NAME'>" value="<TMPL_VAR NAME='FILEX_FORM_DISABLE_USER_FILES_VALUE_ACTIVATE'>" type="radio"> D&eacute;sactiver</label> ou <label><input name="<TMPL_VAR NAME='FILEX_FORM_DISABLE_USER_FILES_NAME'>" value="<TMPL_VAR NAME='FILEX_FORM_DISABLE_USER_FILES_VALUE_DESACTIVATE'>" type="radio"> Activer </label> tous les fichiers de cet utilisateur</li>
		<li><label><input name="<TMPL_VAR NAME='FILEX_FORM_DISABLE_USER_NAME'>" value="<TMPL_VAR NAME='FILEX_FORM_DISABLE_USER_VALUE'>" type="checkbox"> D&eacute;sactiver cet utilisateur</label></li>
		</ul>
</TMPL_IF>
		<TMPL_IF NAME="FILEX_CAN_EXPIRE">
		<div class="center"><input type="submit" value="Validez" class="Submit"></div>
		</form>
		</TMPL_IF>
		<TMPL_IF NAME="GO_BACK_URL">
			<p class="center"><a href="<TMPL_VAR NAME='GO_BACK_URL'>">Retour</a></p>
		</TMPL_IF>
		</TMPL_IF>
	</div>
	<TMPL_IF NAME="FILEX_HAS_DOWNLOAD">
	<hr>
	<div class="main">
		<table class="infos" cellpadding="0" cellspacing="0" width="100%" summary="liste des t&eacute;l&eacute;chargements">
		<caption>liste des t&eacute;l&eacute;chargements</caption>
		<thead>
			<tr><th>Adresse</th><th>Date</th><th>Annul&eacute;</th></tr>
		</thead>
		<tbody>
		<TMPL_IF NAME="FILEX_HAS_DOWNLOAD_ERROR">
			<tr><td colspan="3"><TMPL_VAR NAME="FILEX_DOWNLOAD_ERROR"></td></tr>
		<TMPL_ELSE>
			<TMPL_LOOP NAME="FILEX_DOWNLOAD_LOOP">
			<tr<TMPL_UNLESS NAME="__odd__"> class="even"</TMPL_UNLESS>><td><TMPL_VAR NAME="FILEX_DOWNLOAD_ADDRESS"><TMPL_IF NAME="FILEX_DOWNLOAD_ADMIN_MODE"><TMPL_IF NAME="FILEX_DOWNLOAD_USE_PROXY"><p style="font-size: 6pt;"><strong>Proxy</strong> : <TMPL_VAR NAME="FILEX_DOWNLOAD_PROXY_INFOS"></p></TMPL_IF><p style="font-size: 6pt;"><strong>Navigateur : </strong><TMPL_VAR NAME="FILEX_DOWNLOAD_USER_AGENT"></p></TMPL_IF></td><td><TMPL_VAR NAME="FILEX_DOWNLOAD_DATE"></td><td><TMPL_VAR NAME="FILEX_DOWNLOAD_STATE"></td></tr>
			</TMPL_LOOP>
		</TMPL_IF>
		</tbody>
		</table>
	<TMPL_IF NAME="GO_BACK_URL">
	<p class="center"><a href="<TMPL_VAR NAME='GO_BACK_URL'>">Retour</a></p>
	</TMPL_IF>
	</div>
	</TMPL_IF>
	<hr>
	<div class="footer">
	<p>En cas de probl&egrave;mes ou pour toutes informations, veuillez adresser vos messages &agrave; l'adresse suivante : <a href="mailto:<TMPL_VAR NAME='FILEX_SYSTEM_EMAIL'>"><TMPL_VAR NAME="FILEX_SYSTEM_EMAIL"></a></p>
	</div>
</div>
<div class="img">
	<img src="media/logo.png" width="90" height="50" alt="Insa de Lyon">
</div>
</body>
