<!-- chunky template for current download -->
<h2>T&eacute;l&eacute;chargements en cours :</h2>
<TMPL_IF NAME="FILEX_HAS_DOWNLOAD">
	<p><a href="<TMPL_VAR NAME='FILEX_PURGE_QUEUE_URL'>">Purger la liste des t&eacute;l&eacute;chargements courants</a></p>
	<table class="infos" cellpadding="0" cellspacing="0" width="100%" summary="Liste des fichiers en t&eacute;l&eacute;chargement">
		<caption>Liste des fichiers en t&eacute;l&eacute;chargement</caption>
		<thead>
			<tr><th>Nom</th><th>Propri&eacute;taire</th><th>Taille</th><th>D&eacute;marr&eacute; le</th><th>Adresse</th></tr>
		</thead>
		<tbody>
			<TMPL_LOOP NAME="FILEX_DOWNLOAD_LOOP">
			<tr<TMPL_UNLESS NAME="__odd__"> class="even"</TMPL_UNLESS>><td><a href="<TMPL_VAR NAME='FILEX_FILE_INFO_URL'>" title="Information"><TMPL_VAR NAME="FILEX_FILE_NAME"></a></td><td><TMPL_VAR NAME="FILEX_OWNER"></td><td><TMPL_VAR NAME="FILEX_SIZE"></td><td><TMPL_VAR NAME="FILEX_START"></td><td><TMPL_VAR NAME="FILEX_IP_ADDRESS"></td></tr>
			</TMPL_LOOP>
		</tbody>
	</table>
<TMPL_ELSE>
<p>Pas de t&eacute;l&eacute;chargements actuellement</p>
</TMPL_IF>
