<!-- chunky template for current download -->
<h1>Purge manuelle des fichiers</h1>
<TMPL_IF NAME="FILEX_HAS_ERROR"><p class="error"><TMPL_VAR NAME="FILEX_ERROR"></p></TMPL_IF>
<TMPL_IF NAME="FILEX_HAS_PURGE_ERROR"><p class="error"><TMPL_VAR NAME="FILEX_PURGE_ERROR"></p></TMPL_IF>
<TMPL_IF NAME="FILEX_HAS_PURGE">
	<p><a href="<TMPL_VAR NAME='FILEX_PURGE_ALL_URL'>">Tous purger</a></p>
	<table class="infos" cellpadding="0" cellspacing="0" width="100%">
		<thead>
			<tr><td>Nom</td><td>Propri&eacute;taire</td><td>Taille</td><td>D&eacute;pos&eacute; le</td><td>Expire le</td></tr>
		</thead>
		<tbody>
			<TMPL_LOOP NAME="FILEX_PURGE_LOOP">
			<tr<TMPL_UNLESS NAME="__odd__"> id="even"</TMPL_UNLESS>>
				<td><TMPL_VAR NAME="FILEX_FILE_NAME"></td>
				<td><TMPL_VAR NAME="FILEX_OWNER"></td>
				<td><TMPL_VAR NAME="FILEX_SIZE"></td>
				<td><TMPL_VAR NAME="FILEX_UPLOAD_DATE"></td>
				<td><TMPL_VAR NAME="FILEX_EXPIRE_DATE"></td>
			</tr>
			</TMPL_LOOP>
		</tbody>
	</table>
<TMPL_ELSE>
<p>Pas de fichiers &agrave; supprimer actuellement</p>
</TMPL_IF>
