<!-- chunky template for current download -->
<h1>Fichiers non expir&eacute;s :</h1>
<TMPL_IF NAME="FILEX_HAS_ERROR">
<p class="error"><TMPL_VAR NAME="FILEX_ERROR"></p>
</TMPL_IF>
<TMPL_IF NAME="FILEX_HAS_FILES">
	<table class="infos" cellpadding="0" cellspacing="0" width="100%" summary="Liste des fichiers non expir&eacute;s">
		<caption>Liste des fichiers non expir&eacute;s (<TMPL_VAR NAME="FILEX_FILE_COUNT">), Espace Utilis&eacute; (inclus les fichiers expir&eacute;s non supprim&eacute;s) : <TMPL_VAR NAME="FILEX_USED_DISK_SPACE"></caption>
		<thead>
			<tr>
				<th><a href="<TMPL_VAR NAME='FILEX_SORT_NAME_ASC_URL'>" title="Trier par Nom de fichier">+</a> Nom <a href="<TMPL_VAR NAME='FILEX_SORT_NAME_DESC_URL'>" title="Trier par Nom de fichier">-</a></th>
				<th><a href="<TMPL_VAR NAME='FILEX_SORT_DISK_ASC_URL'>" title="Trier par Nom sur le disque">+</a> Disque <a href="<TMPL_VAR NAME='FILEX_SORT_DISK_DESC_URL'>" title="Trier par Nom sur le disque">-</a></th>
				<th><a href="<TMPL_VAR NAME='FILEX_SORT_OWNER_ASC_URL'>" title="Trier par Propri&eacute;taire">+</a> Propri&eacute;taire <a href="<TMPL_VAR NAME='FILEX_SORT_OWNER_DESC_URL'>" title="Trier par Propri&eacute;taire">-</a></th>
				<th><a href="<TMPL_VAR NAME='FILEX_SORT_SIZE_ASC_URL'>" title="Trier par Taille">+</a> Taille <a href="<TMPL_VAR NAME='FILEX_SORT_SIZE_DESC_URL'>" title="Trier par Taille">-</a></th>
				<th><a href="<TMPL_VAR NAME='FILEX_SORT_UPLOAD_ASC_URL'>" title="Trier par date de D&eacute;pose">+</a> D&eacute;pos&eacute; le <a href="<TMPL_VAR NAME='FILEX_SORT_UPLOAD_DESC_URL'>" title="Trier par date de D&eacute;pose">-</a></th>
				<th><a href="<TMPL_VAR NAME='FILEX_SORT_EXPIRE_ASC_URL'>" title="Trier par date d'expiration">+</a> Expire le <a href="<TMPL_VAR NAME='FILEX_SORT_EXPIRE_DESC_URL'>" title="Trier par date d'expiration">-</a></th>
				<th><a href="<TMPL_VAR NAME='FILEX_SORT_DOWNLOAD_COUNT_ASC_URL'>" title="Trier par nombre de t&eacute;l&eacute;chargement">+</a> T&eacute;l&eacute;charg&eacute; <a href="<TMPL_VAR NAME='FILEX_SORT_DOWNLOAD_COUNT_DESC_URL'>" title="Trier par nombre de t&eacute;l&eacute;chargement">-</a></th>
			</tr>
		</thead>
		<tbody>
			<TMPL_LOOP NAME="FILEX_FILES_LOOP">
			<tr<TMPL_UNLESS NAME="__odd__"> class="even"</TMPL_UNLESS>><td><a href="<TMPL_VAR NAME='FILEX_FILE_INFO_URL'>" title="<TMPL_VAR NAME='FILEX_LONG_FILE_NAME'>"><TMPL_VAR NAME="FILEX_FILE_NAME"></a></td><td><TMPL_VAR NAME="FILEX_DISK_NAME"></td><td><TMPL_VAR NAME="FILEX_FILE_OWNER"></td><td><TMPL_VAR NAME="FILEX_FILE_SIZE"></td><td><TMPL_VAR NAME="FILEX_UPLOAD_DATE"></td><td><TMPL_VAR NAME="FILEX_EXPIRE_DATE"></td><td><TMPL_VAR NAME="FILEX_DOWNLOAD_COUNT"></td></tr>
			</TMPL_LOOP>
		</tbody>
	</table>
<TMPL_ELSE>
<p>Pas de fichier non expir&eacute;s actuellement</p>
</TMPL_IF>
