<!-- chunky template for current download -->
<h2>Gestion des quotas :</h2>
	<p>Ce module permet de g&eacute;rer les quotas des utilisateurs ...</p>
	<form method="post" action="<TMPL_VAR NAME='FILEX_QUOTA_FORM_ACTION'>">
	<h3>Ajouter un quota :</h3>
	<p><label for="rtype">R&egrave;gles : </label>
		<select name="<TMPL_VAR NAME='FILEX_QUOTA_RULE_ID_FIELD_NAME'>" id="rtype" class="Field">
			<TMPL_LOOP NAME="FILEX_QUOTA_RULES_LOOP">
				<option <TMPL_IF NAME="FILEX_QUOTA_RULE_SELECTED">selected</TMPL_IF> value="<TMPL_VAR NAME='FILEX_QUOTA_RULE_ID'>"><TMPL_VAR NAME="FILEX_QUOTA_RULE_NAME"></option>
			</TMPL_LOOP>
		</select><br>
	<label for="idqname">Description : </label><input class="Field" id="idqname" type="text" name="<TMPL_VAR NAME='FILEX_QUOTA_DESCRIPTION_FIELD_NAME'>" size="30" maxlength="50" value="<TMPL_VAR NAME='FILEX_QUOTA_FORM_QUOTA_DESCRIPTION'>">
	<label for="idqorder">Ordre : </label><input class="Field" id="idqorder" type="text" name="<TMPL_VAR NAME='FILEX_QUOTA_QORDER_FIELD_NAME'>" size="10" maxlength="10" VALUE="<TMPL_VAR NAME='FILEX_QUOTA_FORM_QUOTA_QORDER'>"><br>
	<label for="idqmfs">Taille de fichier max. : </label><input class="Field" id="idqmfs" type="text" name="<TMPL_VAR NAME='FILEX_QUOTA_MAX_FILE_SIZE_FIELD_NAME'>" size="10" maxlength="10" value="<TMPL_VAR NAME='FILEX_QUOTA_FORM_QUOTA_MAX_FILE_SIZE'>">
	<select name="<TMPL_VAR NAME='FILEX_QUOTA_MAX_FILE_SIZE_UNIT_FIELD_NAME'>" class="Field">
		<TMPL_LOOP NAME="FILEX_QUOTA_FORM_MFS_UNIT_LOOP">
			<option <TMPL_IF NAME="FILEX_QUOTA_FORM_MFS_UNIT_SELECTED">selected</TMPL_IF> value="<TMPL_VAR NAME='FILEX_QUOTA_FORM_MFS_UNIT_ID'>"><TMPL_VAR NAME="FILEX_QUOTA_FORM_MFS_UNIT_NAME"></option>
		</TMPL_LOOP>
	</select><br>
	<label for="idqmus">Place utilis&eacute;e max. : </label><input class="Field" id="idqmus" type="text" name="<TMPL_VAR NAME='FILEX_QUOTA_MAX_USED_SPACE_FIELD_NAME'>" size="10" maxlength="10" value="<TMPL_VAR NAME='FILEX_QUOTA_FORM_QUOTA_MAX_USED_SPACE'>">
	<select name="<TMPL_VAR NAME='FILEX_QUOTA_MAX_USED_SPACE_UNIT_FIELD_NAME'>" class="Field">
		<TMPL_LOOP NAME="FILEX_QUOTA_FORM_MUS_UNIT_LOOP">
			<option <TMPL_IF NAME="FILEX_QUOTA_FORM_MUS_UNIT_SELECTED">selected</TMPL_IF> value="<TMPL_VAR NAME='FILEX_QUOTA_FORM_MUS_UNIT_ID'>"><TMPL_VAR NAME="FILEX_QUOTA_FORM_MUS_UNIT_NAME"></option>
		</TMPL_LOOP>
	</select><br>
	<input class="Submit" type="submit" value="Envoyer"></p>
	<input type="hidden" name="<TMPL_VAR NAME='FILEX_QUOTA_ID_FIELD_NAME'>" value="<TMPL_VAR NAME='FILEX_QUOTA_FORM_QUOTA_ID'>">
	<input type="hidden" name="<TMPL_VAR NAME='FILEX_MAIN_ACTION_FIELD_NAME'>" value="<TMPL_VAR NAME='FILEX_MAIN_ACTION_ID'>">
	<input type="hidden" name="<TMPL_VAR NAME='FILEX_SUB_ACTION_FIELD_NAME'>" value="<TMPL_VAR NAME='FILEX_SUB_ACTION_ID'>">
	</form>
	<TMPL_IF NAME="FILEX_HAS_ERROR"><p class="error"><TMPL_VAR NAME="FILEX_ERROR"></p></TMPL_IF>
<TMPL_IF NAME="FILEX_HAS_QUOTA">
	<table class="infos" border="0" cellpadding="0" cellspacing="0" width="100%" summary="Liste des quotas">
		<caption>Liste des quotas</caption>
		<thead>
			<tr><th>Date</th><th>Ordre</th><th>Description</th><th>R&egrave;gle</th><th><abbr title="Taille de fichier maximal">MFS</abbr></th><th><abbr title="Taille total utilis&eacute;e">TUS</abbr></th><th>Etat</th><th>Actions</th></tr>
		</thead>
		<tbody>
			<TMPL_LOOP NAME="FILEX_QUOTA_LOOP">
			<tr<TMPL_UNLESS NAME="__odd__"> class="even"</TMPL_UNLESS>>
				<td><TMPL_VAR NAME="FILEX_QUOTA_DATE"></td>
				<td class="center"><TMPL_VAR NAME="FILEX_QUOTA_ORDER"></td>
				<td><TMPL_VAR NAME="FILEX_QUOTA_DESCRIPTION"></td>
				<td><TMPL_VAR NAME="FILEX_QUOTA_RULE"></td>
				<td class="center"><TMPL_VAR NAME="FILEX_QUOTA_MAX_FILE_SIZE"></td>
				<td class="center"><TMPL_VAR NAME="FILEX_QUOTA_MAX_USED_SPACE"></td>
				<td class="center"><TMPL_VAR NAME="FILEX_QUOTA_STATE"></td>
				<td style="text-align: center;">
					<ul class="inline" style="margin: 0; padding:0;">
						<li><a href="<TMPL_VAR NAME='FILEX_MODIFY_URL'>" title="Editer"><img src="media/icons/edit.png" alt="Editer" border="0"/></a></li>
						<li><a href="<TMPL_VAR NAME='FILEX_STATE_URL'>" title="Activer/Desactiver"><img src="media/icons/toggle.png" alt="Activer/Desactiver" border="0"/></a></li>
						<li><a href="<TMPL_VAR NAME='FILEX_REMOVE_URL'>" title="Supprimer"><img src="media/icons/trash.png" alt="Supprimer" border="0"/></a></li>
					</ul>
				</td>
			</tr>
			</TMPL_LOOP>
		</tbody>
	</table>
<TMPL_ELSE>
<p>Pas de r&egrave;gles</p>
</TMPL_IF>
