<!-- chunky template for current download -->
<h2>Gestion des administrateurs :</h2>
	<form method="post" action="<TMPL_VAR NAME='FILEX_USR_ADMIN_FORM_ACTION'>">
	<p><label for="ctl01">Ajouter un utilisateur </label><input id="ctl01" class="Field" type="text" name="<TMPL_VAR NAME='FILEX_USR_ADMIN_ADD_FIELD_NAME'>" size="30"><input class="Submit" type="submit" value="Envoyer"></p>
	<input type="hidden" name="<TMPL_VAR NAME='FILEX_MAIN_ACTION_FIELD_NAME'>" value="<TMPL_VAR NAME='FILEX_MAIN_ACTION_ID'>">
	<input type="hidden" name="<TMPL_VAR NAME='FILEX_SUB_ACTION_FIELD_NAME'>" value="<TMPL_VAR NAME='FILEX_SUB_ACTION_ID'>">
	</form>
	<TMPL_IF NAME="FILEX_HAS_ERROR"><p class="error"><TMPL_VAR NAME="FILEX_ERROR"></p></TMPL_IF>
<TMPL_IF NAME="FILEX_HAS_ADMINS">
	<table class="infos" border="0" cellpadding="0" cellspacing="0" width="100%" summary="Liste des administrateurs">
		<caption>Liste des administrateurs</caption>
		<thead>
			<tr><th>Identifiant</th><th>Informations</th><th>Email</th><th>Etat</th><th>Actions</th></tr>
		</thead>
		<tbody>
			<TMPL_LOOP NAME="FILEX_ADMINS_LOOP">
			<tr<TMPL_UNLESS NAME="__odd__"> class="even"</TMPL_UNLESS>>
				<td><TMPL_VAR NAME="FILEX_ADMIN_UID"></td>
				<td class="center"><TMPL_VAR NAME="FILEX_ADMIN_INFOS"></td>
				<td class="center"><a href="mailto:<TMPL_VAR NAME='FILEX_ADMIN_MAIL'>"><TMPL_VAR NAME="FILEX_ADMIN_MAIL"></a></td>
				<td class="center"><TMPL_VAR NAME="FILEX_ADMIN_STATE"></td>
				<td style="text-align: center;">
					<ul class="inline" style="padding:0; margin:0;">
						<li><a href="<TMPL_VAR NAME='FILEX_STATE_URL'>" title="Activer/Desactiver"><img src="media/icons/toggle.png" alt="Activer/Desactiver" border="0"/></a></li>
						<li><a href="<TMPL_VAR NAME='FILEX_REMOVE_URL'>" title="Supprimer"><img src="media/icons/trash.png" alt="Supprimer" border="0"/></a></li>
					</ul>
				</td>
			</tr>
			</TMPL_LOOP>
		</tbody>
	</table>
<TMPL_ELSE>
<p>Pas d'administrateurs !</p>
</TMPL_IF>
