<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <TMPL_INCLUDE NAME="include_head.tmpl">
	<TMPL_IF NAME="FILEX_AUTO_DOWNLOAD"><meta http-equiv="refresh" content="5; URL=<TMPL_VAR NAME='FILEX_DOWNLOAD_URL'>"></TMPL_IF>
  <title>FileX</title>
</head>

<body>
<div class="body">
	<div class="logo">
		<h1><span>FileX</span></h1>
	</div>
	<div class="main">
		<TMPL_IF NAME="FILEX_HAS_FILE">
		<p>Vous avez demand&eacute; le fichier <strong><TMPL_VAR NAME="FILEX_FILE_NAME"></strong></p>
		<h2>Informations :</h2>
		<ul>
			<li><strong>Taille :</strong> <TMPL_VAR NAME="FILEX_FILE_SIZE">
			<li><strong>Publi&eacute; le :</strong> <TMPL_VAR NAME="FILEX_FILE_PUBLISHED_DATE">
			<li><strong>Disponible jusqu'au :</strong> <TMPL_VAR NAME="FILEX_FILE_EXPIRE_DATE">
			<li><strong>Publi&eacute; par :</strong> <a href="mailto:<TMPL_VAR NAME='FILEX_FILE_OWNER'>"><TMPL_VAR NAME="FILEX_FILE_OWNER"></a>
		</ul>
		<TMPL_IF NAME="FILEX_HAS_PASSWORD">
		<form method="post" action="<TMPL_VAR NAME='FILEX_FORM_GET_ACTION'>">
		<p>
			<label for="ctl01">
				<strong>Ce fichier n&eacute;cessite un mot de passe pour &ecirc;tre t&eacute;l&eacute;charg&eacute; :</strong>
			</label> 
			<input type="password" size="15" class="Field" id="ctl01" name="<TMPL_VAR NAME='FILEX_FORM_PASSWORD_FIELD_NAME'>"> 
			<input type="hidden" name="<TMPL_VAR NAME='FILEX_FORM_FILE_FIELD_NAME'>" value="<TMPL_VAR NAME='FILEX_FILE_FIELD_VALUE'>">
			<input type="submit" value="Valider" class="Submit">
		</p>
		</form>
		<TMPL_ELSE>
		<p>Si le t&eacute;l&eacute;chargement ne commence pas automatiquement dans 5 secondes, <a href="<TMPL_VAR NAME='FILEX_DOWNLOAD_URL'>">suivez ce lien</a></p>
		</TMPL_IF>
		<h2>Note :</h2>
		<p>Le nom de fichier que vous proposera votre navigateur au t&eacute;l&eacute;chargement peut &ecirc;tre diff&eacute;rent du vrai nom du fichier.</p>
		</TMPL_IF>
		<TMPL_IF NAME="FILEX_HAS_ERROR">
		<p class="error"><TMPL_VAR NAME="FILEX_ERROR"></p>
		</TMPL_IF>
	</div>
	<hr>
	<div class="footer">
		<p class="hlight">Ce service <strong>ne conserve pas les fichiers apr&egrave;s expiration</strong>. Si un fichier a expir&eacute;; <strong>veuillez contacter la personne qui vous l'a envoy&eacute;</strong>.</p>
		<p>En cas de probl&egrave;mes ou pour toutes informations, veuillez adresser vos messages &agrave; l'adresse suivante : <a href="mailto:<TMPL_VAR NAME='FILEX_SYSTEM_EMAIL'>"><TMPL_VAR NAME="FILEX_SYSTEM_EMAIL"></a></p>
	</div>
</div>
<div class="img">
	<img src="media/logo.png" width="90" height="50" alt="Insa de Lyon">
</div>
</body>
</html>
