  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="<TMPL_VAR NAME='FILEX_STATIC_FILE_BASE'>">
  <link href="styles/filex.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="js/postMessage-resize-iframe-in-parent.js"></script>
