Votre fichier "<TMPL_VAR NAME="FILENAME">" déposé le <TMPL_VAR NAME="FILEDATE"> a été supprimé.

Pour informations :

Fichier : <TMPL_VAR NAME="FILENAME">
Taille : <TMPL_VAR NAME="FILESIZE">
Déposé le : <TMPL_VAR NAME="FILEDATE">
Expire le : <TMPL_VAR NAME="FILEEXPIRE">

Nombre de téléchargements : <TMPL_VAR NAME="DOWNLOADCOUNT">
<TMPL_IF NAME="DOWNLOADCOUNT">
Téléchargé par :

<TMPL_LOOP NAME="DL_LOOP">- <TMPL_VAR NAME="DLADDRESS"> le <TMPL_VAR NAME="DLDATE">
</TMPL_LOOP></TMPL_IF>

Merci d'avoir utilisé le service d'échange de fichier.

En cas de problèmes ou pour toutes informations, veuillez adresser 
vos messages à l'adresse suivante : <TMPL_VAR NAME="SYSTEMEMAIL">

