Vous venez d'être exclus de l'usage du système de transfert de fichiers <TMPL_IF NAME="EXCLUDE_DAYS">pour <TMPL_VAR NAME="EXCLUDE_DAYS"> jour(s)</TMPL_IF>.

Cette exclusion est certainement du a un usage non conforme à la charte informatique de l'établissement

Merci de votre compréhension

En cas de problèmes ou pour toutes informations, veuillez adresser 
vos messages à l'adresse suivante : <TMPL_VAR NAME="FILEX_SYSTEM_EMAIL">

