Le fichier "<TMPL_VAR NAME="FILEX_FILE_NAME">" déposé le <TMPL_VAR NAME="FILEX_FILE_DATE"> a été téléchargé.

Pour informations :

Adresse de téléchargement : <TMPL_VAR NAME="FILEX_DOWNLOAD_ADDRESS"> (<TMPL_VAR NAME="FILEX_DOWNLOAD_NAME">)

Fichier : <TMPL_VAR NAME="FILEX_FILE_NAME">
Taille : <TMPL_VAR NAME="FILEX_FILE_SIZE">
Déposé le : <TMPL_VAR NAME="FILEX_FILE_DATE">
Expire le : <TMPL_VAR NAME="FILEX_FILE_EXPIRE">

Merci d'avoir utilisé le service d'échange de fichier.

En cas de problèmes ou pour toutes informations, veuillez adresser 
vos messages à l'adresse suivante : <TMPL_VAR NAME="FILEX_SYSTEM_EMAIL">

