Vous venez de déposer le fichier : <TMPL_VAR NAME="FILEX_FILE_NAME">

Ce fichier sera disponible jusqu'au : <TMPL_VAR NAME="FILEX_FILE_EXPIRE">

Pour qu'un utilisateur télécharge votre fichier, envoyez lui cette adresse :

<TMPL_VAR NAME="FILEX_GET_URL">

<TMPL_IF NAME="FILEX_HAS_PASSWORD">Mot de passe pour télécharger le fichier : <TMPL_VAR NAME="FILEX_PASSWORD"></TMPL_IF>

Information sur le fichier déposé :

Nom : <TMPL_VAR NAME="FILEX_FILE_NAME">
Taille : <TMPL_VAR NAME="FILEX_FILE_SIZE">
Déposé le : <TMPL_VAR NAME="FILEX_FILE_DATE">
Disponible jusqu'au : <TMPL_VAR NAME="FILEX_FILE_EXPIRE">

Options :

- Recevoir un avis de réception à chaque téléchargement : <TMPL_VAR NAME="FILEX_GET_DELIVERY">
- Recevoir un récapitulatif des téléchargement lorsque le fichier aura expiré : <TMPL_VAR NAME="FILEX_GET_RESUME">

Merci d'avoir utilisé le service d'échange de fichier.

En cas de problèmes ou pour toutes informations, veuillez adresser 
vos messages à l'adresse suivante : <TMPL_VAR NAME="FILEX_SYSTEM_EMAIL">

