Vous venez de déposer le fichier : <TMPL_VAR NAME="FILENAME">

Ce fichier sera disponible jusqu'au : <TMPL_VAR NAME="FILEEXPIRE">

Pour qu'un utilisateur télécharge votre fichier, envoyez lui cette adresse :

<TMPL_VAR NAME="GETURL">

Information sur le fichier déposé :

Nom : <TMPL_VAR NAME="FILENAME">
Taille : <TMPL_VAR NAME="FILESIZE">
Déposé le : <TMPL_VAR NAME="FILEDATE">
Disponible jusqu'au : <TMPL_VAR NAME="FILEEXPIRE">

Options :

- Recevoir un avis de réception à chaque téléchargement : <TMPL_VAR NAME="GETDELIVERY">
- Recevoir un récapitulatif des téléchargement lorsque le fichier aura expiré : <TMPL_VAR NAME="GETRESUME">

Merci d'avoir utilisé le service d'échange de fichier.

En cas de problèmes ou pour toutes informations, veuillez adresser 
vos messages à l'adresse suivante : <TMPL_VAR NAME="SYSTEMEMAIL">

