Le fichier "<TMPL_VAR NAME="FILENAME">" déposé le <TMPL_VAR NAME="FILEDATE"> a été téléchargé.

Pour informations :

Adresse de téléchargement : <TMPL_VAR NAME="DLADDRESS"> (<TMPL_VAR NAME="DLNAME">)

Fichier : <TMPL_VAR NAME="FILENAME">
Taille : <TMPL_VAR NAME="FILESIZE">
Déposé le : <TMPL_VAR NAME="FILEDATE">
Expire le : <TMPL_VAR NAME="FILEEXPIRE">

Merci d'avoir utilisé le service d'échange de fichier.

En cas de problèmes ou pour toutes informations, veuillez adresser 
vos messages à l'adresse suivante : <TMPL_VAR NAME="SYSTEMEMAIL">

