Nouveau fichier déposé :

Utilisateur : <TMPL_VAR NAME="FILEX_USER_NAME"> 
ID : <TMPL_VAR NAME="FILEX_USER_ID">
MAIL : <TMPL_VAR NAME="FILEX_USER_MAIL">

Nom : <TMPL_VAR NAME="FILEX_FILE_NAME">
Taille : <TMPL_VAR NAME="FILEX_FILE_SIZE">
Déposé le : <TMPL_VAR NAME="FILEX_FILE_DATE">
Disponible jusqu'au : <TMPL_VAR NAME="FILEX_FILE_EXPIRE">
Url d'administration : <TMPL_VAR NAME="FILEX_FILE_GET_URL">

