<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<base href="<TMPL_VAR NAME='FILEX_STATIC_FILE_BASE'>">
	<title>FileX : <TMPL_VAR NAME="FILEX_PROGRESS"> %</title>
	<link href="styles/filex.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		p.progressbar {
			background-color: #99C;
			border: 1pt solid black;
			width: <TMPL_VAR NAME="FILEX_PROGRESS">%;
			text-align: right;
			font-size: 12pt;
		}
		p.meter2 {
			text-align: center;
			font-size: 12pt;
			color: black;
		}
	</style>
</head>
<body <TMPL_IF NAME="FILEX_HAS_COMPLETE">onLoad="javascript:self.close();"</TMPL_IF>>
<div class="body">
	<div class="main">
		<TMPL_IF NAME="FILEX_HAS_ERROR">
		<p class="error"><TMPL_VAR NAME="FILEX_ERROR"></p>
		<TMPL_IF NAME="FILEX_HAS_ERROR_DESC"><p><TMPL_VAR NAME="FILEX_ERROR_DESC"></p></TMPL_IF>
		<p class="center"><a href="javascript:;" onClick="javascript:self.close();">Fermer la fen&ecirc;tre</a></p>
		<TMPL_ELSE>
		<h1 class="fileinfo"><TMPL_VAR NAME="FILEX_FILE_NAME"></h1>
		<TMPL_IF NAME="FILEX_HAS_COMPLETE">
		<p>T&eacute;l&eacute;chargement effectu&eacute; avec succ&egrave;s</p>
		<p class="center"><a href="javascript:;" onClick="javascript:self.close()">Fermer la fen&ecirc;tre</a></p>
		<TMPL_ELSE>
		<p class="progressbar">&nbsp;</p>
		<p class="meter2"><TMPL_VAR NAME="FILEX_PROGRESS"> %</p>
		<hr>
		<TMPL_IF NAME="FILEX_NOB_ERROR">
		<p class="hlight"><TMPL_VAR NAME="FILEX_NOB_ERROR"><TMPL_IF NAME="FILEX_NOB_ERROR_DESC"><br><TMPL_VAR NAME="FILEX_NOB_ERROR_DESC"></TMPL_IF></p>
		<hr>
    </TMPL_IF>
		<p class="stats">
			<strong>Données re&ccedil;ues :</strong> <TMPL_VAR NAME="FILEX_DATA_RECEIVED"> / <TMPL_VAR NAME="FILEX_DATA_TOTAL"><br>
			<strong>Temps Restant :</strong> <TMPL_VAR NAME="FILEX_REMAINING_TIME"><br>
			<strong>Vitesse de transfert :</strong> <TMPL_VAR NAME="FILEX_DATA_RATE">
		</p>
		</TMPL_IF>
		</TMPL_IF>
	</div>
</div>
</body>
