<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<base href="<TMPL_VAR NAME='FILEX_STATIC_FILE_BASE'>">
  <title>FileX</title>
	<link href="styles/filex.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="body">
	<div class="logo">
		<h1><span>FileX</span> [ <TMPL_VAR NAME="FILEX_USER_NAME"> ]</h1>
	</div>
	<div class="main">
		<p>Le fichier <strong><TMPL_VAR NAME="FILEX_FILE_NAME"></strong> a &eacute;t&eacute; d&eacute;pos&eacute;.</p>
		<p>Pour qu'un utilisateur t&eacute;l&eacute;charge votre fichier, envoyez lui cette adresse :</p>
		<p><a href="<TMPL_VAR NAME='FILEX_GET_URL'>" title="envoyez cette adresse"><TMPL_VAR NAME="FILEX_GET_URL"></a></p>
		<TMPL_IF NAME="FILEX_HAS_PASSWORD">
		<p>Mot de passe pour t&eacute;l&eacute;charger le fichier : <strong><TMPL_VAR NAME="FILEX_PASSWORD"></strong></p>
		</TMPL_IF>
		<p>Votre fichier sera automatiquement supprim&eacute; du serveur dans <strong><TMPL_VAR NAME="FILEX_DAY_KEEP"></strong> jours.</p>
		<TMPL_IF NAME="FILEX_HAS_ERROR"><p class=error><TMPL_VAR NAME="FILEX_ERROR"></p></TMPL_IF>
		<h2>Informations :</h2>
		<ul>
			<li><strong>Taille :</strong> <TMPL_VAR NAME="FILEX_FILE_SIZE">
			<li><strong>Disponible jusqu'au :</strong> <TMPL_VAR NAME="FILEX_FILE_EXPIRE">
		</ul>
		<p class="center"><a href="<TMPL_VAR NAME='FILEX_UPLOAD_URL'>">Retour</a></p>
	</div>
	<hr>
	<div class="footer">
		<p>En cas de probl&egrave;mes ou pour toutes informations, veuillez adresser vos messages à l'adresse suivante : <a href="mailto:<TMPL_VAR NAME='FILEX_SYSTEM_EMAIL'>"><TMPL_VAR NAME="FILEX_SYSTEM_EMAIL"></a></p>
	</div>
</div>
<div class="img">
	<img src="media/logo.png" width="90" height="50" alt="Insa de Lyon">
</div>
</body>
</html>
