<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<base href="<TMPL_VAR NAME='FILEX_STATIC_FILE_BASE'>">
  <title>FileX</title>
	<link href="styles/filex.css" rel="stylesheet" type="text/css">
	<script language="javascript" type="text/javascript">
	<!--
		function openUploadMeter(url) {
    var uploadWindow;
    uploadWindow = this.open(url,"_new","toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizeable=yes,width=400,height=300");
		uploadWindow.focus();
		}
	// -->
	</script>
</head>

<body>
	<div class="body">
	<div class="logo">
		<h1><span>FileX</span> [ <TMPL_VAR NAME="FILEX_USER_NAME"> ]</h1>
	</div>
	<div class="main">
		<div class="manage">
			<p>Vous avez d&eacute;pos&eacute; <b><TMPL_VAR NAME="FILEX_MANAGE_UPLOADED_FILES_COUNT"></b> fichiers</p>
			<p><b><TMPL_VAR NAME="FILEX_MANAGE_ACTIVE_FILES_COUNT"></b> sont encore valides</p>
			<p>Espace Utilis&eacute; : <TMPL_VAR NAME="FILEX_MANAGE_USED_SPACE"> <TMPL_IF NAME="FILEX_MANAGE_HAVE_QUOTA">/ <strong><TMPL_VAR NAME="FILEX_MANAGE_MAX_USED_SPACE"></strong></TMPL_IF></p>
			<p><a href="<TMPL_VAR NAME='FILEX_MANAGE_URL'>" title="Gestion de vos fichiers">Gestion de vos fichiers</a></p>
			<TMPL_IF NAME="FILEX_MANAGE_IS_ADMIN"><p><a href="<TMPL_VAR NAME='FILEX_MANAGE_ADMIN_URL'>" title="Administration">Administration</a></p></TMPL_IF>
		</div>
		<p>Bienvenue sur le syst&egrave;me de transfert de fichiers (<a href="help.html" title="Aide" target="_blank">Aide</a>)</p>
		<ol>
			<li>S&eacute;lectionnez un fichier à d&eacute;poser ( "Parcourir..." )
			<li>Cliquez sur "Envoyer" (Une fen&ecirc;tre de progression appara&icirc;t) <sup style="color: red;">(1)</sup>
			<li>En plus des informations &agrave; l'&eacute;cran, un e-mail de confirmation vous sera envoy&eacute;
			<li>Faites suivre l'adresse de t&eacute;l&eacute;chargement &agrave; votre (vos) destinataire(s)
			<li>Un email de confirmation vous sera envoy&eacute; lorsque votre fichier sera t&eacute;l&eacute;charg&eacute;
			<li>Votre fichier sera disponible sur le serveur pour une dur&eacute;e maximale de <strong><TMPL_VAR NAME="FILEX_MAX_DAY_KEEP"></strong> Jours
		</ol>
	</div>
	<hr>
	<div class="upform">
		<TMPL_IF NAME="FILEX_HAS_ERROR">
		<p class="error"><TMPL_VAR NAME="FILEX_ERROR"></p>
		</TMPL_IF>
		<TMPL_IF NAME="FILEX_CAN_UPLOAD">
		<form method="post" action="<TMPL_VAR NAME='FILEX_FORM_UPLOAD_ACTION'>" enctype="multipart/form-data" onSubmit="openUploadMeter('<TMPL_VAR NAME='FILEX_METER_URL'>');">
			<h2><label for="upload">Veuillez s&eacute;lectionner le document &agrave; d&eacute;poser</label></h2>
			<TMPL_IF NAME="FILEX_HAS_MAX_FILE_SIZE"><p>Taille de fichier maximale : <strong><TMPL_VAR NAME="FILEX_MAX_FILE_SIZE"></strong></TMPL_IF></p>
			<p><label for="ctl01">Expiration du fichier : </label>
			<select name="<TMPL_VAR NAME='FILEX_FORM_UPLOAD_DAY_KEEP_NAME'>" id="ctl01" class="Field">
				<TMPL_LOOP NAME="FILEX_EXPIRE_LOOP"><option value="<TMPL_VAR NAME='FILEX_EXPIRE_VALUE'>" <TMPL_IF NAME="FILEX_EXPIRE_SELECTED">selected</TMPL_IF>><TMPL_VAR NAME="FILEX_EXPIRE_VALUE"></option></TMPL_LOOP>
			</select> <label for="ctl01">Jours</label></p>
			<p><input type="checkbox" name="<TMPL_VAR NAME='FILEX_FORM_UPLOAD_DELIVERY_NAME'>" class="Field" value="1" id="ctl02"><label for="ctl02">Recevoir un avis de r&eacute;ception &agrave; chaque t&eacute;l&eacute;chargement</label></p>
			<p><input type="checkbox" name="<TMPL_VAR NAME='FILEX_FORM_UPLOAD_RESUME_NAME'>" class="Field" value="1" id="ctl03"><label for="ctl03">Recevoir un r&eacute;capitulatif des t&eacute;l&eacute;chargement lorsque le fichier aura expir&eacute;</label></p>
			<p><input type="checkbox" name="<TMPL_VAR NAME='FILEX_FORM_UPLOAD_NEED_PASSWORD_NAME'>" class="Field" value="1" id="ctl04"><label for="ctl04">Utiliser un mot de passe pour le t&eacute;l&eacute;chargement :</label> <input class="Field" type="password" name="<TMPL_VAR NAME='FILEX_FORM_UPLOAD_PASSWORD_NAME'>" size="15" maxlength="<TMPL_VAR NAME='FILEX_MAX_PASSWORD_LENGTH'>"><br>
<span class="notes">Le mot de passe doit avoir une longueur comprise entre <strong><TMPL_VAR NAME="FILEX_MIN_PASSWORD_LENGTH"></strong> et <strong><TMPL_VAR NAME="FILEX_MAX_PASSWORD_LENGTH"></strong> caract&egrave;res</span></p>
			<input id="upload" type="file" name="<TMPL_VAR NAME='FILEX_FORM_UPLOAD_UPLOAD_NAME'>" class="Field"> 
			<input type="hidden" name="<TMPL_VAR NAME='FILEX_FORM_UPLOAD_OLD_DLID_NAME'>" value="<TMPL_VAR NAME='FILEX_OLD_DLID'>">
			<input class="Submit" type="submit" value="Envoyer">
		</form>
		</TMPL_IF>
	</div>
	<div class="main">
	<h2>Notes :</h2>
	<ol>
		<li>La fen&ecirc;tre de progression ne fonctionne qu'avec des versions de navigateurs &gt; 4 (IE,Netscape) ou mozilla,opera
		<li>Toutes les activit&eacute;s sont consign&eacute;es dans les journaux du syst&egrave;me</li>
	</ol>
	</div>
	<hr>
	<div class="footer">
		<p>En cas de probl&egrave;mes ou pour toutes informations, veuillez adresser vos messages à l'adresse suivante : <a href="mailto:<TMPL_VAR NAME='FILEX_SYSTEM_EMAIL'>"><TMPL_VAR NAME="FILEX_SYSTEM_EMAIL"></a></p>
	</div>
</div>
<div class="img">
	<img src="media/logo.png" width="90" height="50" alt="Insa de Lyon">
</div>
</body>
</html>
