/* CSS Stylesheet */
body { 
	background-color: #F2F2E8; 
	font-family: "Bitstream Vera Sans", Arial, Tahoma, sans-serif; 
	font-size: 10pt; 
	text-align: left;
}

a { color: blue; text-decoration: none; }
a:visited { color: blue; }
a:hover { text-decoration: underline }

h1 {
	font-size: 10pt;
	font-weight: bold;
}

h1.login {
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
}

div.login {
	position: relative;
	margin: auto;
	border: 2px dashed #99C;
	padding: 5pt;
	background-color: #F2F2E8;
	vertical-align: middle;
	text-align: center;
	width: 40%;
}

h2 {
	font-size: 10pt;
	font-style: italic;
}

div.logo h1 {
	color: white;
	text-align: right;
	font-size: 8pt;
}

.error {
	color: black ! important;
	font-size: 15pt ! important;
	text-align: center ! important;
	font-weight: bold ! important;
	border: 2pt dashed #99C;
	background-color: #F2F2E8;
	padding: 5pt;
}

p.meter {
	font-size: 16pt ! important;
	color: red ! important;
	text-align: center ! important;
}

p.stats {
	font-size: 10pt ! important;
	text-align: left ! important;
}

p.gobackfilex {
	font-size: 8pt ! important;
	text-align: right ! important;
}

.center {
	text-align: center ! important;
}

table.infos {
	border-right: 1pt solid black;
	border-top: 1pt solid black;
}

table.infos td {
	border-left: 1pt solid black;
	border-bottom: 1pt solid black;
}

table.infos tbody {
	font-size: 10pt;
}

table.infos thead {
	text-align: center;
	font-style: italic;
	font-weight: bold;
	background: #F0FaFa;
}

table.infos caption {
	font-style: italic;
}

div.body {
	background-color: white;
	margin: 10pt 2% 10pt 2%;
	border: 2pt solid black;
}

div.body hr {
	border: 1px dashed black;
	width: 100%;
}

div.main {
	margin: 5pt;
}

div.admenu {
	margin: 5pt;
}

div.upform {
	margin: 5pt;
}

div.upform h1 { 
	font-size: 10pt; 
	font-style: italic;
}

div.footer {
	text-align: center;
	font-size: 8pt;
}

div.img {
	border: 0;
	text-align: center;
	margin: 0;
	padding-left: 0;
}

div.logo {
	background-color: white;
	background-image: url(../media/head2.png);
	background-position: top left;
	background-repeat: repeat-x;
	background-color: #6172A6;
	margin: 0;
	padding: 0;
	position: relative;
	height: 55px;
}

div.logo h1 {
	z-index: 2;
	/*position: relative;*/
	position: top left;
	padding: 0;
	margin: 0;
	height: 55px;
	background-repeat: no-repeat;
	background-position: top left;
	background-image: url(../media/head1.png);
}

div.logo span {
	display: none;
}

div.manage {
	float: right;
	border: 2px dashed #99C;
	padding: 5pt;
	background-color: #F2F2E8;
	vertical-align: top;
}

div.manage p {
	font-size: 8pt;
}

/* for forms */
input.Field { padding: 0pt;  border: 1px solid #aaa; margin: 2pt; vertical-align: middle; }
input.Submit { padding: 0pt; margin: 2pt;  border: 1px solid #aaa; vertical-align: middle; }
